# --- セキュリティ（金庫を守る） ---
.env
.env.local
.env.*.local
.firebase
.firebaserc

# --- 依存関係とビルド成果物 ---
node_modules
dist
dist-ssr
*.local

# --- キャッシュ・ログ ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
.stylelintcache
.vite
.vitest

# --- Firebase固有 ---
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
functions/.cache/
functions/node_modules/

# --- エディタ・OS固有 ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?